div{
    float: left;
    width:200px;
    height: 200px;
    background-color:purple;;
    line-height: 150px;
    text-align: center; color: white;
    font-size: 3em;
    border-radius: 10px;
    margin-left: 10px;
    margin-right:10px;
    margin-bottom:20px
}
button{
    display: block;
    border:black 2px solid; 
    border-radius: -20px;
    background-color: whitesmoke;

}